@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

.header-bg {
    animation: slide 6s infinite alternate;
    background-image: linear-gradient(-60deg, #055f57 50%, #6ab3ad 10%);
}

.header-bg-2 {
    animation-direction: alternate-reverse;
    animation-duration: 8s;
}

.header-bg-3 {
    animation-duration: 10s;
}
